name: Generate CHANGELOG.md

run-name: Generate CHANGELOG.md (${{ github.sha }})

on:
  push:
    tags:

permissions:
    contents: write

jobs:
  generate-changelog:
    runs-on: ubuntu-latest
    steps:
      - name: Generate CHANGELOG.md
        uses: ganiulis/generate-changelog-action@main
        with:
          repository-name: register-action

